
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}
body {
	background: #2f3640;
	font-family: 'Montserrat', sans-serif;

	flex-wrap: flex;


}
.header-section{
	height: 100px;
	background: #8985A2;
}
.logo-section{
	background-color: black;
	height: 100%;

}
.navbar-section{
	background: #8985A2;
	height: 100%;
	float: left;
	position: relative;
	padding-top: 30px;
}

ul.main-menu li {
	display: inline-block;
	padding-left: 20px;
	font-size: 35px;	
	margin-left: 140px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}
.main-menu li:hover{
	color: white;
}

.body-section{
	height: 840px;
	background-color: #2f3640;
	color: white;

}
.search-box{
	height: 40px;
	top: 30%;
	left: 50%;
	background-color: black;
	position: absolute;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	padding: 10px;

}
.search-btn{
	color: #e84118;
	width: 40px;
	border-radius: 10%;
	background:#2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	float: right;
}
.search-box:hover > .search-txt{
	width: 350px;
	padding: 0 6px;	
}

.search-txt{
	border:none;
	background:none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px;
}
.item-bodies{
	height: 450px;
	margin-top: 340px;

}
.item-bodies h1{
	font-weight: bold;
}
.faq-lists{
	height: 3	50px;
	width: 200px;
	
}
.faq-lists button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	margin-top: 100px;
}
.faq-display{
	height: 400px;
	width: 1200px;
	margin-left: 700px;
	margin-top: -325px;
	line-height: 40px;
	border-radius: 20px;
	color: white;

}
.faq-display p{
	font-size: 25px;

}
#how-to-buy-text, #how-to-sell-text, #safety-tips-text{
	display: none;	
}

.selling-items-container{
	height: 1500px;		
}
.selling-item-lists{
	height: 500px;
	width: 40%;
	margin-top: 80px;

}
ul.item-menu label {
	display: block;
	font-size: 35px;	f
	margin-left: 290px;
	border-radius: 5px;
	color: #7A8083;
	font-weight: bold;
	margin-top: 30px;
}
.item-menu label:hover{
	color: white;
}

.selling-item-forms{
	height: auto;
	width: 55%;
	margin-top: 80px;
	padding-left: 50px;
	color: #eee;
	background-color: #925FB8;
	border-radius: 10px;
	margin-left: 70px;

}
.mobile-selling-form label{
	font-size: 25px;
	padding-right: 10px;
	padding-top: 10px;
}
.form-text-box{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%	;
	font-weight: bold;
	font-size: 17px;
	color: black;
	border-radius: 10px;

}
.product-description{
	border-radius: 10px;
	font-weight: bold;
	font-size: 19px;
}
textarea {
   resize: none;
   background-color: #eee;
}
.items-photo-table{

}
/*.items-photo-table tr{
	height: 100px;

}
.items-photo-table td{
	width: 100px;
	background-color: red;
}*/
.fa-camera{
	font-size: 55px;
}
.photo-container{
	height: 150px;
	width: 150px;
	padding:45px;
	margin-right: 20px;
	background-color: #7A8083;
	margin-top: 20px;
	border-radius: 10px;
}
#adSubmit{
		border-radius: 10px;
	border: 1px solid #925FB8;
	background-color: #7E6D91;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}




.ad-container{
	height: 1000px;
	padding: 150px;
	background-color: pink;
}
.ad-box{
	height: 300px;
	background-color: black;
	top: 30px;
}
.ad-image-holder{
	height: 200px;
	background-color: white;
}
.modify-ad-image{
	height: 200px;
	width: 100%;
}
.ad-price, .ad-title{
	color: white;
}
.ad-description{
	color: white;
}


/*Ad Ddescription Page*/
.ad-description-container{
	background-color: pink;
	height: 800px;
	padding-top: 80px;
	padding-left: 50px;
}
.ad-images-container{
	height: 400px;
	background-color: green;
}
.ad-short-description{
	height: 400px;
	background-color: blue;
	margin-left: 250px;
}
.ad-detail-container{
	height: 230px;
	background-color: white;	
	margin-top: 50px;
}
.ad-detail-container label{
	padding-left: 100px;
}
.comment-section{
	background-color: blue;	
	margin-top: 50px;
	height: 230px;
}